/* Card.css */
.card-container {
    width: 310px;
  height: 554px;
  border-radius: 30px 0px 30px 0px;
  border: 2px solid #28E3E9; /* Adjust the color as needed */
  opacity: 1; /* This will make the card invisible. Adjust as needed */
  display: flex;
  flex-direction: column;
  overflow: hidden;

  }
  
  .image-container {
    width: 100%; /* Ensure the image container width matches the card width */
    height: 215px; /* Set the height for the image section */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    overflow: hidden; /* Hide any overflow to keep image contained */
    border-bottom: 2px solid #28E3E9; 
    box-sizing: border-box;
  }
  
  .image-container img {
    width: 40%; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure the image does not exceed container height */
    object-fit: cover; 
  }
  
  .content-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #28E3E91A;
    width: full;
  }

  .content-container p,
.content-container h3 {
  margin: 0 0 8px;
  color: #333; /* Dark gray color for visibility */
  font-size: 16px; /* Ensure a readable font size */
}

  .content-container p {
    color: black;
    font-weight: 400;
    line-height: 20.16px;
  }
  
  .content-container p:first-of-type {
    font-weight: bold;
  }
  
  .content-container h3 {
    margin-top: 88px;
    font-weight: 600;
    color: #116A6C;   
    margin-bottom: 24px; 
  }
  
  .content-container p:last-of-type {
    margin-top: auto;
    font-weight: bold;
    color: #333;
  }
  
  .title{
    background-color: rgba(98, 195, 198, 0.3);
    width: 30%;
    text-align: center;
  }