/* Header Styles */
.header {
    background-color: #fff; /* Gray-800 equivalent */
    color:  #045A5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .header .search-bar {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and input */
    position: relative;
    max-width: 366px; /* Adjust as needed */
    height: 34px;
    border-radius: 30px;
    width: 100%;
  }
  
  .header .search-bar input {
    background-color: #EEF7F7; /* Gray-700 equivalent */
    color:  #28E3E9;
    padding-right: 16px; /* Adjust for right padding */
    height: 34px; /* Adjust height as needed */
    width: 100%;
    border: 1px  #28E3E9; /* Border color */
    border-radius: 9999px; /* Fully rounded */
    box-sizing: border-box;
    padding: 12px;
  }
  .header .search-icon {
    color: #28E3E9; /* Gray-400 equivalent; change to desired color */
    position: absolute;
    right: 12px; /* Adjust position from the left */
    top: 50%;
    transform: translateY(-50%); 
    pointer-events: none;
  }
  
  .header .search-bar input:focus {
    border: 2px solid #1d4ed8; /* Blue-500 equivalent */
  }
  
  .header .nav {
    display: flex;
    gap: 44px; /* Space between links */
  }
  
  .header .nav a {
    color:  #045A5C;
    text-decoration: none;
  }
  
  .header .nav a:hover {
    color: #28E3E9; /* Gray-400 equivalent */
  }
  
  .header .right-side {
    display: flex;
    align-items: center;
    gap: 16px; /* Space between icon and button */
  }
  
  .header .right-side .shopping-cart {
    color: #28E3E9; /* Gray-400 equivalent */
    width: 22.4px;
    height: 21px;
    left: 1.6px;
  }
  
  .header .right-side .button {
    background-color: #3b82f6; /* Blue-500 equivalent */
    color: white;
    padding: 8px 16px;
    border-radius: 8px; /* Rounded-lg equivalent */
    border: none;
    cursor: pointer;
  }
  
  .header .right-side .button:hover {
    background-color: #2563eb; /* Blue-600 equivalent */
  }
  .anmelden {
    background-color: #ECFEAA; /* Background color for Anmelden */
    border-radius: 24px 0; /* Border-radius on top-left and bottom-right */
    width: 110px;
    height: 33px;
  }
  .anmelden-link{
    padding: 7px 18px 8px 18px ;
  }
  